*{
    margin: 0;
    padding: 0;
    font-family: Courier New, Courier, monospace;
}
a {
    text-decoration-style: none;
}
ul {
    list-style-type: none;
}
.btn {
    width: 100px;
    margin-left: 6.5%;
    margin-top: 10%;
    text-transform: uppercase;
    background-color: blueviolet; 
    font-size: 1.5em;
    color: aqua;
    
}
button.btn:hover {
    background-color: #8a2baa;
    color: #fff;
    
} 
h1 {
    margin-left: 10%;
}
p {
    
    font-size: 1.5em;
    
}
.img-tamanho{
    width:30%;
}

.foto {
    width: 220px;
    float: right;
    margin: 0.5em;

}
.sobre {
    margin-top: 10%;
    width: 80%;
    margin-left: 10%;
    text-align: justify;
}

article p{
    padding: 5em 0em 0 2em;    
    text-align: justify;
}
article img{
    padding: 2em;
    float: right;
}
.evento{
    margin-top: 1em;
    margin-left: 10%;
    width: 80%;
    height: 20%;
    padding: 2em;
    border: 1px solid black;
}
.contato {
    margin-top: 2em;
    text-align: center;
}
#contato li{
    display: inline-block;
}

#contato li a{
    display: inline-block;
    margin: 1em;
    width: 32px;
    height: 32px;
    text-indent: -9999px;
}

#contato .email{
    background-image: url('../images/email.png');
}
#contato .facebook{
    background-image: url('../images/facebook.png');
}
#contato .linkedin{
    background-image: url('../images/linkedin.png');
}
#contato .twitter{
    background-image: url('../images/twitter.png');
}
#contato .github{
    background-image: url('../images/github.png');
}

footer{
    text-align: center;
    margin-top:20%;
    
}